$color-light: #ffffff;

$color-alfa-light: rgba(255, 255, 255, 0.3);
$color-alfa: rgba(0, 0, 0, 0.4);
$color-settings: rgba(0, 0, 0, 0.95);

$desctop-width: 1280px;
$netbook-width: 1024px;
$tablet-width: 768px;
$mobile-width: 320px;