* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100vh;
	@extend %font-prim;
	@include font;
	color: $color-light;
	text-align: center;
	background: /*url("../assets/img/bg.jpg")*/ center/cover, $color-alfa;
	background-blend-mode: multiply;
	transition: background-image 1s ease-in-out;
	@include media-mobile {
		@include font($size: 14px, $height: 14px);
	}
}